<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Voice Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Voice Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-searchbar placeholder="Search" [(ngModel)]="searchTerm"/>
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedItem" (click)="onLangSelected($event)">
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>Kannada</ion-label>
            <ion-radio aria-label="Kannada" slot="start" value="kn-IN"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>English</ion-label>
            <ion-radio aria-label="English" slot="start" value="en-US"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  </ion-list>
  <div class="ion-text-center">
    <ion-button (click)="getWikiData()">Search</ion-button>
  </div>

  <ion-button expand="full" (click)="startStopSpeak($event)" [color]="buttonColor">
    <!-- <ion-icon name="mic-outline"></ion-icon> -->
    <ion-icon></ion-icon>
    start/stop
  </ion-button>

  <!-- <ion-button expand="full" (click)="this.recognition.stop()">
    <ion-icon name="mic-off-outline"></ion-icon>
    Speak stop
  </ion-button> -->
  <ion-list>
    <ion-item *ngFor="let item of items;" class="card bg-light flex-row flex-wrap mb-3 shadow rounded-3 border-0">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="card-header px-2 col-12 border-0" (click)="goAnOtherPage('details', item.pageid)">
              <a (click)="goAnOtherPage('details', item.pageid)" class="stretched-link">{{item.title}}</a>
            </div>
            <div class="px-2 col-12 border-0" [innerHTML]="item.snippet" (click)="goAnOtherPage('details', item.pageid)"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="px-2 col-12 border-0" style="text-align: right;"><a href="https://kn.wikipedia.org/?curid={{item.pageid}}" class="stretched-link"><ion-icon name="open-outline"></ion-icon></a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="fetchMoreWikiData($event , 'wiki')" [disabled]="recordExists === false">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
